* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  width: 100vw;
}

a {
  color: #00f;
}

a:hover {
  color: #f00;
}

textarea {
  width: 100%;
  height: 300px;
}

#header {
  width: 100vw;
  padding: 10px;
  background: #eee;
}

#menu {
  width: 100vw;
  padding: 10px;
  background: #ccc;
}

#content {
  padding: 5px;
}
#goods {
  max-width: 1240px;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 20px;
}

#footer {
  width: 100vw;
  padding: 10px;
  background: #ccc;
}
#login_form {
  display: flex;
  flex-direction: column;
}
#login_form input {
  width: 300px;
}
.good {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border: 1px solid grey;
}
.good_title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.good_price {
  display: flex;
  justify-content: center;
  align-items: center;
}
